@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-size: 16px;
  color: #000;
}

ul,
li {
  list-style: none;
}

a {
  color: #000;
  text-decoration: none;
}

img {
  max-width: 100%;
}

input,
button,
textarea,
select,
[role="button"] {
  outline: 0;
}

.fl {
  float: left;
}

.fr {
  float: right;
}

/* 清除浮动 */
.cl::after {
  content: "";
  clear: both;
  display: block;
  visibility: hidden;
}

.container {
  max-width: 1600px;
  margin: 0 auto;
}

.commPadding {
  padding: 40px 80px;
}

.commTitle {
  text-align: center;
  font-size: 24px;
  line-height: 1.5;
  font-weight: 600;
  margin-bottom: 20px;
}

.header {
  padding: 15px 20px;
  background-color: #fff;
}

.header .logo img {
  height: 50px;
}

.header .menu {
  margin-left: 20px;
  margin-top: 15px;
}

.header .menu li {
  float: left;
}

.header .menu li a {
  display: block;
  font-size: 18px;
  padding: 5px 20px;
}

.header .menu li a.active {
  color: #ed020e;
}

.header .right ul {
  margin-top: 15px;
}

.header .right ul li {
  float: left;
}

.header .right ul li a {
  font-size: 18px;
  padding: 5px 10px;
}

.header .right ul li a.active {
  color: #ed020e;
}

/* 轮播图 */
.banner .swiper-pagination-bullet-active {
  background-color: #ed020e;
}

.news {
  background-color: #f1f2f3;
}

.Disney-news {
  position: relative;
}

.Disney-news .swiper-pagination-bullet {
  width: 6px;
  height: 6px;
  border-radius: 50px;
  display: inline-block;
  background: #1b1b1c;
  opacity: .3;
  margin: 0 10px !important;
}

.Disney-news .swiper-pagination-bullet-active {
  opacity: 1;
}

.Disney-news .swiper-button-prev,
.Disney-news .swiper-button-next {
  top: 48%;
  width: 44px;
  height: 44px;
  background: #fff;
  border-radius: 100px;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.16);
  color: rgba(0, 0, 0, 0.8);
  font-weight: 600;
}

.Disney-news .swiper-button-prev::after,
.Disney-news .swiper-button-next::after {
  font-size: 20px;
}

.Disney-news .swiper-button-prev {
  left: -22px;
}

.Disney-news .swiper-button-next {
  right: -22px;
}

.Disney-news .swiper-slide {
  background: #fff;
  margin-bottom: 50px;
}

.Disney-news .swiper-slide .img {
  height: 200px;
  overflow: hidden;
}

.Disney-news .swiper-slide .img img {
  width: 100%;
  height: 100%;
}

.Disney-news .swiper-slide .txt {
  padding: 15px;
}

.Disney-news .swiper-slide .txt .tip,
.Disney-news .swiper-slide .txt .time {
  font-size: 14px;
  line-height: 30px;
  height: 30px;
  color: rgba(0, 0, 0, 0.9);
}

.Disney-news .swiper-slide .tit {
  font-size: 20px;
  margin: 10px 0;
  line-height: 32px;
  height: 64px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  word-break: break-all;
}

.video {
  background-color: #0A193C;
}

.video .commTitle {
  color: #fff;
}

.video ul li {
  position: relative;
  float: left;
  padding: 10px;
  width: 50%;
}

.video ul li a {
  display: block;
  text-align: center;
}

.video ul li .img {
  margin: 0 0 20px;
  display: block;
  width: 100%;
  padding-top: 56.44%;
  overflow: hidden;
  position: relative;
}

.video ul li .img img {
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  object-fit: cover;
  -moz-transition: all .5s;
  -webkit-transition: all .5s;
  -o-transition: all .5s;
  -ms-transition: all .5s;
  transition: all .5s;
}

.video ul li h3 {
  font-size: 20px;
  font-weight: 600;
  color: #fff;
  text-align: center;
  margin: 0 0 10px;
}

.video ul li p {
  font-size: 16px;
  line-height: 26px;
  height: 52px;
  color: #fff;
  text-align: center;
  margin: 0 0 10px;
  padding: 0 15px;
  overflow: hidden;
}

.video ul li i {
  font-size: 18px;
  font-style: normal;
  color: #fff;
  font-weight: 600;
  position: relative;
}

.videoInpage {
  padding: 40px 80px;
}

.videoInpage ul li h3,
.videoInpage ul li p,
.videoInpage ul li i {
  color: #000;
}

.shopDisney ul li {
  float: left;
  padding: 10px;
  width: 50%;
}

.shopDisney ul li a {
  width: 100%;
}

.shopDisney ul li .shop-box-top {
  position: relative;
  width: 100%;
  padding-top: calc(50% - 10px);
  margin-bottom: 10px;
}

.shopDisney ul li .shop-box-bottom {
  position: relative;
  width: 100%;
  padding-top: calc(50% - 10px);
  margin-top: 20px;
}

.shopDisney ul li .sb-left {
  position: absolute;
  left: 0;
  top: 0;
  width: calc(50% - 10px);
  height: 100%;
  background: #ccc;
}

.shopDisney ul li .sb-left img {
  width: 100%;
  height: 100%;
}

.shopDisney ul li .sb-right {
  position: absolute;
  right: 0;
  top: 0;
  width: calc(50% - 10px);
  height: 100%;
  background: #ccc;
}

.loginBox {
  border-radius: 12px;
  margin: 100px auto;
  width: 1000px;
  box-shadow: 0 0 10px #9abaf3;
}

.loginBox .img {
  width: 500px;
  float: left;
}

.loginBox .img img {
  display: block;
  width: 100%;
  object-fit: cover;
}

.loginBox .cont {
  float: left;
  background-color: #fff;
  text-align: center;
  width: 500px;
  padding-bottom: 16px;
}

.loginBox .cont .title {
  text-align: center;
  font-size: 36px;
  margin-bottom: 16px;
  padding-top: 16px;
}

.loginBox .cont input {
  border: 1px solid #d1d3e2;
  background-color: #fff;
  display: block;
  font-size: 16px;
  height: 42px;
  border-radius: 40px;
  margin: 20px auto;
  width: 420px;
  padding: 0 15px;
  outline: 0;
}

.loginBox .cont button {
  width: 452px;
  height: 44px;
  background-color: #2277ba;
  color: #fff;
  border-radius: 40px;
  font-size: 16px;
  outline: 0;
  border: 0;
}

/* 角色介绍 */
table {
  text-align: center;
  border-collapse: collapse;
}

table,
table tr th,
table tr td {
  border: 1px solid #a8aeb2;
  padding: 5px 10px;
}

.touxiang {
  width: 160px;
}

.person {
  margin-top: 30px;
}

.person caption {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 30px;
}

.person table {
  width: 90%;
  margin: 0 auto;
}

.shop {
  padding: 40px 80px;
}

.shop ul li {
  float: left;
  width: 20%;
  padding: 10px;
}

.shop ul li a {
  display: block;
  width: 100%;
  border: 1px solid #ddd;
}

.shop ul li a:hover {
  border-color: #ed020e;
}

.shop ul li a:hover p {
  color: #000;
}

.shop ul li a img {
  width: 100%;
  height: 250px;
}

.shop ul li a .txt {
  padding: 10px;
}

.shop ul li a .price {
  font-weight: bold;
  color: #ed020e;
  margin-bottom: 5px;
}

.shop ul li a p {
  color: #666;
  line-height: 20px;
  height: 40px;
  overflow: hidden;
}

.info {
  padding: 40px 80px;
}

.info ul li {
  height: 150px;
  border-bottom: 1px solid #ddd;
  margin-bottom: 20px;
}

.info ul li .img {
  width: 200px;
  float: left;
  margin-right: 15px;
}

.info ul li .img img {
  width: 100%;
  height: 130px;
}

.info ul li .txt {
  float: left;
}

.info ul li .txt .tag {
  color: #666;
}

.info ul li .txt .tit {
  margin: 15px 0;
  font-size: 20px;
}

.info ul li .txt .time {
  font-size: 14px;
  color: #999;
}

.footer {
  text-align: center;
  background: #fff;
  padding: 40px 20px;
}

.footer .foot-logo img {
  height: 40px;
}

.footer .foot-menu {
  margin: 15px 0;
}

.footer .foot-menu ul li {
  display: inline-block;
  padding: 0 20px;
}

.footer .foot-wx img {
  display: block;
  margin: 0 auto 5px;
  width: 120px;
  height: 120px;
  border: 1px solid #ddd;
}

.footer .foot-wx p {
  font-size: 12px;
  color: rgba(0, 0, 0, 0.5);
  margin-top: 10px;
}

.footer .statment {
  padding-top: 20px;
}

.footer .statment p,
.footer .statment a {
  font-size: 14px;
  color: rgba(0, 0, 0, 0.5);
  line-height: 1.5;
}
